name: Setup Backend

on:
  workflow_dispatch:

env:
  TF_VERSION: 1.5.0
  AWS_REGION: eu-west-1

jobs:
  setup-backend:
    name: Setup S3 Backend
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Deploy Backend
      run: |
        terraform init
        terraform plan -out=tfplan
        terraform apply -auto-approve tfplan
      working-directory: terraform/backend

    - name: Verify Backend
      run: |
        aws s3 ls s3://cloudplatformterraformstate
        aws dynamodb describe-table --table-name cloud-platform-terraform-locks
